.item-metode-pembayaran {
    &--section {
        padding: 4px;
        padding-bottom: 8px;
        border: solid 1px rgba(0, 0, 0, .1);
        border-radius: 3px;
        > div {
            display: inline-block;
            vertical-align: middle;
        }
        &--image {
            > div {
                width: 60px;
                height: 25px;
                object-fit: contain;
                background: url("/images/payment-method.png");
                background-size: cover;
                // border: solid 1px #ccc;
            }
            .transfer {
                background-position: right 0px top (-30px * 3);
            }
            .indomaret {
                background-position: right 0px top (-30px * 7);
            }
            .cc {
                background-position: right 0px top (-30px * 5);
            }
        }
        &--label {
            // 
        }
    }
    &--deskripsi {
        font-size: .8em;
        margin-bottom: 8px;
        background: #fafafa;
        padding: 4px;
    }
}