@import "./../../../variables";

.metode-pembayaran {
    background: white;
    font-family: Arial;
    padding: 14px;
    &--section {
        margin-bottom: 16px;
        &--title {
            margin-bottom: 3px;
            font-size: .9;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color;
        }
        &--kode-pemesanan {
            font-size: 2em;
        }
        &--harga {
            font-size: 1.5em;
        }
        &--metode {
            padding-top: 4px;
        }
    }
}