.bubble-chat {
    &--general {
        &--container {
            padding: 12px;
            border: solid 1px rgba(0, 0, 0, .1);
            margin: 4px 8px;
            border-radius: 4px;
            display: inline-block;
            max-width: 80%;

            &--right {
                margin-left: 2px;
            }
            &--left {
                margin-right: 2px;
            }
        }

        &--timestamp {
            font-family: Arial, Helvetica, sans-serif;
            display: inline-block;
            font-size: .8em;
            vertical-align: bottom;
            margin-bottom: 5px;
            > div {
                margin-right: 2px;
            }
        }

        &--nickname {
            margin: 0 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-bottom: -4px;
            margin-top: 4px;
        }
    }

    &--left {
        
    }

    &--right {
        text-align: right;
    }
}