.chat-box {
    &--container {
        margin: 8px;
        margin-bottom: 0px;
        > textarea {
            letter-spacing: 1px;
            width: 100%;
            padding: 4px;
            border-radius: 4px;
        }
    }
    &--container-button {
        margin: 0 8px;
        margin-bottom: 4px;
    }
}