.daftar-chat {
    > div {
        padding: 10px 18px;
        border-bottom: solid 1px rgba(0, 0, 0, .1);
    }
    > div:nth-child(even) {
        background: rgba(0, 0, 0, .05);
    }
    &--title {
        //
        font-family: Arial, Helvetica, sans-serif;
    }
    &--description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .7em;
    }

    &--unread-count {
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        font-weight: bold;
        background: red;
        color: white;
        border-radius: 50%;
        height: 1.7em;
        width: 1.7em;
        vertical-align: middle;
        text-align: center;
    }
}