@import "./../../../variables";

.item-pemesanan {
    padding: 14px;
    font-family: Arial;
    &--section {
        &--status {
            display: inline-block;
            border-radius: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            padding: 4px 8px;
            font-size: .8em;
        }
        &--status-lunas {
            border: solid 1px #4e7626;
            color: #4e7626;
        }
        &--status-belum-lunas {
            border: solid 1px #d6ab5b;
            color: #d6ab5b;
        }
        &--status-dibatalkan {
            border: solid 1px #d65b5b;
            color: #d65b5b;
        }

        
        &--lihat-detail {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $primary-color;
            margin-top: 1em;
        }

        &--kode-pemesanan, &--harga, &--timestamp {
            line-height: 1.5em;
        }
        &--kode-pemesanan {
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color;
        }
        &--harga, &--timestamp {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color;
        }
    }
    &--section-left {
        //
    }
    &--section-right {
        float: right;
        text-align: right;
    }
}