@import "./../../../variables";

.item-keranjang {
    margin: 8px 0;
    &--kanan {
        float: right;
        font-family: Arial;
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: $primary-color;
    }
    &--kiri {
        > div {
            display: inline-block;
        }
        &--gambar {
            width: 20%;
            margin-right: 4px;
            > div {
                width: 100%;
                height: 0;
                padding-top: 100%;
                object-fit: contain;
                background: #FFF;
                margin-bottom: 4px;
                border-radius: 3px;
                position: relative;
                > img {
                    border-radius: 3px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &--detail {
            vertical-align: top;
            &--nama-item {
                font-family: Montserrat;
                font-size: 1em;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: left;
                color: #3b3b3b;
                margin-bottom: 4px;
            }
            &--harga {
                font-family: Arial;
                font-size: 1em;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.17;
                letter-spacing: normal;
                text-align: left;
                color: $primary-color;
            }
            &--kuantitas {
                margin-top: 4px;
                position: absolute;
                width: 40%;
            }
        }
    }
}