@import "./../../../variables";

.top-bar-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 14px;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    &--section {
        margin-top: 16px;
        &--head {
            font-family: Montserrat;
            font-size: .9em;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color;
        }
        &--body {
            margin-top: 8px;
            > ul {
                list-style: none;
                margin: 0;
                padding: 0;
                > li {
                    margin: 0;
                    margin-top: 6px;
                    padding: 0;
                    font-family: Montserrat;
                    font-size: 1.1em;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.22;
                    letter-spacing: normal;
                    text-align: left;
                    color: $primary-color;
                }
            }
        }
    }
}
