.top-bar-search {
    position: fixed;
    top: 0;
    left: 0;
    padding: 14px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    background: #ffffff;
}