.autentikasi {
    &--tab {
        &--header {
            > div {
                padding: 14px;
                text-align: center;
            }

            > div.gray {
                background: #0002;
            }
        }
        &--data {
            // 
        }
    }
}