.autentikasi-daftar {
    padding: 14px;
    &--title {
        font-size: .8em;
        margin-bottom: 12px;
    }
    &--form {
        > * {
            margin-bottom: 8px;
        }
    }
    &--button {
        // 
    }
}