@import "./../../variables";

.hm-button {
    > div {
        text-align: center;
        width: 100%;
        padding: 14px;
        border-radius: 3px;
        font-family: Montserrat;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
    }
    > .dark {
        color: #ffffff;
        background-color: $primary-color;
    }
    > .light {
        background-color: none;
        border: solid 1px $primary-color;
    }
}