@import "./../../variables";

.hm-dropdown {
    width: 100%;
    > select {
        font-size: .9em;
        padding: 8px;
        border-radius: 3px;
        border: solid 1px $primary-color-semi;
        width: 100%;
        background: transparent;
        font-family: Montserrat;
        letter-spacing: .5px;
        transition: 200ms;
    }
    > select:hover {
        border: solid 1px $primary-color;
    }
    .error-label {
        font-size: .8em;
        color: $primary-color;
    }
    .error {
        border: solid 1px $primary-color;
    }
}