.promo {
    &--row {
        &--col {
            // 
            > img {
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}