@import "./../../variables";

.top-bar {
    $unit-padding: 1.2em;
    $unit-font-size: 1.2em;

    &--row {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        padding: $unit-padding;
        background: $primary-color;
        color: #ffffff;
        height: $unit-padding * 2 + $unit-font-size;

        .fas {
            font-size: $unit-font-size;
        }
        .label {
            display: none;
            display: inline-block;
            font-size: $unit-font-size;
            margin-left: 8px;
        }
        .search {
            display: inline-block;
            margin-left: 8px;
            > input {
                position: absolute;
                width: 100%;
                margin-top: -17px;
                font-size: $unit-font-size * .8;
                background: none;
                color: #ddd;
                border: none;
            }
        }
        
        &--col {
            
        }
        &--col-left {
            vertical-align: middle;
            white-space: nowrap;
        }
        &--col-right {
            > div {
                display: inline-block;
                margin-top: -6px;
                margin-left: 5px;
                > div {
                    text-align: center;
                }
                > .xtitle {
                    font-size: .8em;
                    margin-top: -4px;
                    margin-left: 2px;
                }
            }
            text-align: right;
            .fas {
            text-align: center;
                vertical-align: middle;
                margin: 0 6px;
            }
        }
    }
    &--fake {
        height: $unit-padding * 2 + $unit-font-size;
    }
}