<template>
    <div class="item-keranjang">
        <div class="item-keranjang--kanan">
            {{formatRp(barang.data.harga * current_count)}}
        </div>
        <div class="item-keranjang--kiri">
            <div class="item-keranjang--kiri--gambar">
                <div>
                    <img :src="barang.data.img_url" alt="" />
                </div>
            </div>
            <div class="item-keranjang--kiri--detail">
                <div class="item-keranjang--kiri--detail--nama-item">
                    {{barang.data.nama}}
                </div>
                <div class="item-keranjang--kiri--detail--harga">
                    {{formatRp(barang.data.harga)}}
                </div>
                <div class="item-keranjang--kiri--detail--kuantitas theme-light">
                    <div v-if="is_fixed_qty">
                        Qty: {{barang.qty}}
                    </div>
                    <div v-if="!is_fixed_qty" class="item-keranjang--kiri--detail--kuantitas--add-reduce">
                        <add-reduce :init_count="barang.qty" @increase="increase" @decrease="decrease" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as utils from './../../../utils.js';
    import AddReduce from './../dashboard/section/AddReduce.vue';
    import * as store from './../../../store.js';
    export default {
        components: {
            'add-reduce': AddReduce
        },
        props: ['barang', 'is_fixed_qty'],
        data() {
            return {
                current_count: this.barang.qty
            }
        },
        methods: {
            formatRp: utils.format_money,
            increase(count) {
                this.current_count = count;
                store.tambahBarang(this.barang.data);
            },
            decrease(count) {
                this.current_count = count;
                store.kurangBarang(this.barang.data);
            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../sass/components/page/keranjang/ItemKeranjang.scss';
</style>
