<template>
    <div class="keranjang">
        <div v-if="items.length === 0">
            <div>
                Belum ada barang.
            </div>
            <div>
                <a href="/">Ayo berbelanja!</a>
            </div>
        </div>
        <div v-if="items.length > 0">
            <div class="row keranjang--header">
                <div class="col-md-6 col-sm-6 col-xs-6 keranjang--header--col keranjang--header--col-left">
                    Barang
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 keranjang--header--col keranjang--header--col-right">
                    Subtotal
                </div>
            </div>
            <div class="row keranjang--main">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <item-keranjang :barang="item" v-for="(item, index) in items" :key="index" />
                </div>
            </div>
            <div class="row keranjang--footer">
                <hm-button @click="gotoCheckout" :label="checkout_button.label" :button_class="checkout_button.class" />
            </div>
        </div>
    </div>
</template>

<script>
    import ItemKeranjang from './ItemKeranjang.vue';
    import HMButton from './../../layout/HMButton.vue';
    import * as store from './../../../store.js';
    export default {
        components: {
            'item-keranjang': ItemKeranjang,
            'hm-button': HMButton
        },
        computed: {
            items() {
                return store.keranjang();
            }
        },
        data() {
            return {
                checkout_button: {
                    label: "Checkout",
                    class: 'dark'
                }
            }
        },
        methods: {
            gotoCheckout() {
                document.location.href = '/checkout';
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/keranjang/Keranjang.scss';
</style>
