<template>
    <div class="top-bar-keranjang">
        <top-bar 
            :label="label" 
            :left_icon="backIcon">
        </top-bar>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    export default {
        components: {
            'top-bar': TopBar,
        },
        data() {
            return {
                label: "Keranjang",
                backIcon: {
                    icon: "fas fa-arrow-left",
                    action: _ => {
                        window.history.back();
                    }
                }
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/keranjang/TopBarKeranjang.scss';
</style>
