<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Quote of The Day
                    </div>

                    <div class="panel-body">
                        <b>{{ string_quote }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import rest from '../rest';
    export default {
        data() {
            return {
                string_quote: "loading..."
            }
        },
        mounted() {
            rest.quoteApi()
            .then   (quote  => this.string_quote = quote)
            .catch  (err    => this.string_quote = err);
        }
    }
</script>
