<template>
    <div class="autentikasi">
        <div class="autentikasi--tab">
            <div class="autentikasi--tab--header row">
                <div 
                    :class="`col-xs-6 col-sm-6 col-md-6 ${!is_state_login ? 'gray' : ''}`" 
                    @click="is_state_login = true">
                    Masuk
                </div>
                <div 
                    :class="`col-xs-6 col-sm-6 col-md-6 ${is_state_login ? 'gray' : ''}`" 
                    @click="is_state_login = false">
                    Daftar
                </div>
            </div>
            <div class="autentikasi--tab--data">
                <div class="autentikasi--tab--data--daftar" v-if="!is_state_login">
                    <daftar></daftar>
                </div>
                <div class="autentikasi--tab--data--masuk" v-if="is_state_login">
                    <masuk></masuk>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import Daftar from './Daftar.vue';
    import Masuk from './Masuk.vue';
    import Swal from 'sweetalert2';
    export default {
        components: {
            'hm-button': HMButton,
            'masuk': Masuk,
            'daftar': Daftar
        },
        data() {
            return {
                is_state_login: true
            }
        },
        methods: {
            // 
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/autentikasi/Autentikasi.scss';
</style>
