<template>
    <div class="autentikasi-daftar">
        <div class="autentikasi-daftar--title">
            Isi data dibawah
        </div>
        <div class="autentikasi-daftar--form">
            <hm-input 
                ref="inputNama"
                :required="true"
                v-model="data_registrasi.nama" 
                :hint="`Nama`" />
            <hm-input 
                ref="inputEmail"
                :required="true"
                v-model="data_registrasi.email" 
                :hint="`Email`" />
            <hm-input 
                ref="inputPassword"
                :required="true"
                v-model="data_registrasi.password" 
                :hint="`Password`" />
            <hm-input 
                ref="inputNoHP"
                :required="true"
                v-model="data_registrasi.no_hp" 
                :hint="`Nomor Handphone`" />
            <hm-textarea 
                ref="inputAlamat"
                v-model="data_registrasi.alamat" 
                :required="true"
                :hint="`Alamat`" />
        </div>
        <div class="autentikasi-daftar--button">
            <hm-button @click="submitDaftar" :label="`Daftar`" :button_class="`dark`" />
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import HMInput from './../../layout/HMInput.vue';
    import HMTextarea from './../../layout/HMTextarea.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import Swal from 'sweetalert2';
    export default {
        components: {
            'hm-button': HMButton,
            'hm-textarea': HMTextarea,
            'hm-input': HMInput
        },
        data() {
            return {
                data_registrasi: {}
            }
        },
        methods: {
            requestData() {
                return this.data_registrasi;
            },
            validate() {
                const all = [
                    this.$refs.inputNama.validate(),
                    this.$refs.inputEmail.validate(),
                    this.$refs.inputPassword.validate(),
                    this.$refs.inputNoHP.validate(),
                    this.$refs.inputAlamat.validate()
                ];

                return all.reduce((a, c) => a || c, false);
            },
            submitDaftar() {
                if(this.validate()) {
                    alert("Data mandatori wajib diisi");
                    return;
                }

                Swal.fire({
                    title: 'Data sudah benar, lanjutkan pendaftaran?',
                    showCancelButton: true,
                    confirmButtonText: 'Lanjut',
                    showLoaderOnConfirm: true,
                    preConfirm: (login) => {
                        return rest.default.register(this.requestData())
                            .then(res => res)
                            .catch(err => {
                                throw new Error(err)
                            })
                        .then(res => res)
                        .catch(error => Swal.showValidationMessage(`Request failed: ${error}`))
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((res) => {
                    console.log(res);
                    if (res.value) {
                        document.location.href = `/autentikasi`;
                    } else {
                        Swal.showValidationMessage(`Error`);
                    }
                }).catch(err => {
                    Swal.showValidationMessage(`Error`);
                })
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/autentikasi/Daftar.scss';
</style>
