<template>
    <div class="autentikasi-masuk">
        <div class="autentikasi-masuk--title">
            Masuk menggunakan email dan password
        </div>
        <div class="autentikasi-masuk--form">
            <hm-input 
                ref="inputEmail"
                :required="true"
                v-model="data_login.email" 
                :hint="`Email`" />
            <hm-input 
                ref="inputPassword"
                :required="true"
                v-model="data_login.password" 
                :hint="`Password`" />
        </div>
        <div class="autentikasi-masuk--button">
            <hm-button @click="submitLogin" :label="`Masuk`" :button_class="`dark`" />
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import HMInput from './../../layout/HMInput.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import Swal from 'sweetalert2';
    export default {
        components: {
            'hm-button': HMButton,
            'hm-input': HMInput
        },
        data() {
            return {
                data_login: {}
            }
        },
        methods: {
            requestData() {
                return this.data_login;
            },
            validate() {
                const all = [
                    this.$refs.inputEmail.validate(),
                    this.$refs.inputPassword.validate()
                ];

                return all.reduce((a, c) => a || c, false);
            },
            submitLogin() {
                if(this.validate()) {
                    alert("Data mandatori wajib diisi");
                    return;
                }

                rest.default.login(this.requestData())
                    .then(res => res)
                    .catch(err => {
                        throw new Error(err)
                    })
                .then(res => {
                    store.saveCredential(res);
                    document.location.href = `/`;
                })
                .catch(error => alert(`Request failed: ${error}`));
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/autentikasi/Masuk.scss';
</style>
