<template>
    <div class="bubble-chat">
        <div :class="`bubble-chat--general bubble-chat--${
            is_right
            ? 'right' 
            : 'left'}`">
            <div class="bubble-chat--general--nickname">
                {{is_right ? "Anda" : msg._sender.nickname}}
            </div>
            <div class="bubble-chat--general--timestamp" v-if="is_right">
                <div v-if="msg.isRead">R</div>
                {{convertTime(msg.createdAt)}}
            </div>
            <div :class="`bubble-chat--general--container bubble-chat--general--container--${is_right ? 'right' : 'left'}`">
                {{msg.message}}
            </div>
            <div class="bubble-chat--general--timestamp" v-if="!is_right">
                {{convertTime(msg.createdAt)}}
            </div>
        </div>
    </div>
</template>

<script>
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import * as utils from './../../../utils.js';
    export default {
        props: ['msg'],
        computed: {
            is_right() {
                return this.msg._sender.userId == `user-${this.profil_data.id}`;
            },
            profil_data() {
                return store.getCredential();
            }
        },
        data() {
            return {
            }
        },
        methods: {
            convertTime(x) {
                return utils.timeConverter(x, true);
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/chat/BubbleChat.scss';
</style>
