<template>
    <div class="chat-box">
        <div class="chat-box--container">
            <textarea :disabled="is_disabled" v-model="text" rows="3"></textarea>
        </div>
        <div class="chat-box--container-button">
            <hm-button @click="kirimPesan" :label="`Kirim`" :button_class="`dark`" />
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    export default {
        props: ['msg'],
        components: {
            'hm-button': HMButton
        },
        computed: {
            profil_data() {
                return store.getCredential();
            }
        },
        data() {
            return {
                text: "",
                is_disabled: false,
                off_typing_timeout: null,
                is_typing: false
            }
        },
        methods: {
            kirimPesan() {
                this.$emit('on_kirim', this.text)
            },
            disableBox() {
                this.is_disabled = true;
            },
            hapusPesan() {
                this.is_disabled = false;
                this.text = ""
            }
        },
        mounted() {
        },
        watch: { 
            text: function(newVal, oldVal) {
                if (newVal) {
                    /**
                     * send is typing only if it false
                     */
                    if (!this.is_typing) {
                        this.$emit('on_typing', true);
                    }

                    this.is_typing = true;
                    if (this.off_typing_timeout != null) {
                        clearTimeout(this.off_typing_timeout);
                    }
                    this.off_typing_timeout = setTimeout(() => {
                        this.is_typing = false;
                        this.$emit('on_typing', false);
                    }, 500);
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/chat/ChatBox.scss';
</style>
