<template>
    <div>
        <top-bar :custom_label="custom_title" />
        <div>
            <chat-box @on_kirim="onKirim" @on_typing="onTyping" ref="chatbox" />
            <div v-if="is_sedang_menulis" style="margin-left: 8px;">
                Sedang menulis ...
            </div>
            <bubble-chat v-if="chatList != null" :msg="chat" v-for="(chat, index) in chatList" :key="index"/>
            <center v-if="chatList == null">
                <br/>
                Loading...
            </center>
            <br/>
        </div>
    </div>
</template>

<script>
    import SendBird from 'sendbird';
    import TopBar from './TopBarChat.vue';
    import BubbleChat from './BubbleChat.vue';
    import ChatBox from './ChatBox.vue';
    import Vue from 'vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    export default {
        components: {
            'top-bar': TopBar,
            'bubble-chat': BubbleChat,
            'chat-box': ChatBox
        },
        computed: {
            profil_data() {
                return store.getCredential();
            }
        },
        data() {
            return {
                app_id: "F1F741C4-D9A5-468C-BEC7-049291D80E0F",
                sb: null,
                groupChannel: null,
                chatList: null,
                unique_channel_handler: Date.now(),
                is_sedang_menulis: false,
                custom_title: "loading..."
            }
        },
        methods: {
            gotoAuth() {
                document.location.href = `/autentikasi`;
            },
            loadOldMessage() {
                if (this.sb != null && this.groupChannel == null) {
                    console.log("Sb or Group channel is null");
                    return;
                }

                var prevMessageListQuery = this.groupChannel.createPreviousMessageListQuery();
                prevMessageListQuery.limit = 30;
                prevMessageListQuery.reverse = true;

                prevMessageListQuery.load((messages, error) => {
                    if (error) {
                        return;
                    }
                    
                    this.chatList = messages;
                    this.updateReadReceipt(this.groupChannel);
                    this.$refs.chatbox.hapusPesan();
                    this.groupChannel.markAsRead();
                    console.log("messages: ", messages);
                });
            },
            onKirim(pesan) {
                if (!pesan.trim()) {
                    return;
                }
                this.sendMessage(pesan);
                this.$refs.chatbox.disableBox();
            },
            onTyping(is_typing) {
                if (this.sb != null && this.groupChannel == null) {
                    console.log("Sb or Group channel is null");
                    return;
                }

                if (is_typing) {
                    this.groupChannel.startTyping();
                } else {
                    this.groupChannel.endTyping();
                }
            },
            sendMessage(message) {
                if (this.sb != null && this.groupChannel == null) {
                    console.log("Sb or Group channel is null");
                    return;
                }

                const params = new this.sb.UserMessageParams();
                params.message = message;
                params.mentionType = 'channel';                       // Either 'users' or 'channel'
                params.pushNotificationDeliveryOption = 'default';  // Either 'default' or 'suppress' 

                this.groupChannel.sendUserMessage(params, (message, error) => {
                    if (error) {
                        return;
                    }

                    this.loadOldMessage();
                });
            },
            getOrCreateMyChannel(id, afterChannelOK) {
                var channelListQuery = this.sb.GroupChannel.createMyGroupChannelListQuery();
                channelListQuery.includeEmpty = true;
                channelListQuery.limit = 100;

                if (channelListQuery.hasNext) {
                    channelListQuery.next((channelList, error) => {
                        if (error) {
                            return;
                        }

                        console.log("channel list: ", channelList);
                        if (channelList.length == 0) {
                            if (this.profil_data.id == 0) {
                                console.log("admin priviledges");
                                this.chatList = [];
                                return;
                            }
                            this.createNewChannel(g => {
                                this.groupChannel = g;
                                afterChannelOK();
                            })
                        } else {
                            if (id != null) {
                                let channel = channelList.find(x => 
                                    x.members[0].userId == `user-${id}` || x.members[1].userId == `user-${id}`
                                );
                                if (channel != null) {
                                    this.groupChannel = channel;
                                    afterChannelOK();
                                } else {
                                    console.log("no Channel found");
                                }
                            } else {
                                this.groupChannel = channelList[0];
                                afterChannelOK();
                            }
                        }
                    });
                } else {
                    console.log("no channel")
                }
            },
            createNewChannel(cb) {
                var userIds = [`user-${this.profil_data.id}`, 'user-0'];
                this.sb.GroupChannel.createChannelWithUserIds(userIds, false, `Admin Chat - ${this.profil_data.nama} / ${this.profil_data.id}`, null, null, (groupChannel, error) => {
                    if (error) {
                        console.log(error);
                        return;
                    }

                    cb(groupChannel);
                });
            },
            initListener() {
                if (this.sb != null && this.groupChannel == null) {
                    console.log("Sb or Group channel is null");
                    return;
                }

                var ChannelHandler = new this.sb.ChannelHandler();

                ChannelHandler.onMessageReceived = (channel, message) => {
                    console.log(channel, message);
                    this.chatList.unshift(message);
                    this.groupChannel.markAsRead();
                };
                ChannelHandler.onTypingStatusUpdated = grChannel => {
                    this.is_sedang_menulis = grChannel.isTyping();
                }
                ChannelHandler.onReadReceiptUpdated = (gc) => {
                    if (this.groupChannel.url === gc.url) {
                        this.updateReadReceipt(gc);
                    }
                }

                this.sb.addChannelHandler(this.unique_channel_handler, ChannelHandler);
            },
            updateReadReceipt(gc) {
                for (var i = 0; i < this.chatList.length; i++) {
                    var unreadCount = gc.getReadReceipt(this.chatList[i]);
                    Vue.set(this.chatList[i], 'isRead', unreadCount <= 0);
                }
            },
            getUserIdChat() {
                let pathname = (new URL(document.location)).pathname;
                const id = pathname.substr(pathname.lastIndexOf('/') + 1)
                return id == "chat" ? null : id;
            }
        },
        mounted() {
            if (!this.profil_data) {
                this.gotoAuth();
                return;
            }

            this.sb = new SendBird({
                appId: this.app_id
            })
            this.sb.connect(`user-${this.profil_data.id}`, (user, error) => {
                if (error) {
                    return;
                }

                let nickname = this.profil_data.id == 0 ? "Admin" : this.profil_data.nama;
                this.sb.updateCurrentUserInfo(nickname, "", (response, error) => {
                    if (error) {
                        return;
                    }

                    this.getOrCreateMyChannel(this.getUserIdChat(), _ => {
                        this.custom_title = this.groupChannel.name;
                        this.initListener();
                        this.loadOldMessage();
                    });
                });
            });
        }
    }
</script>

<style lang="scss" scoped>
    //@import '../../../../sass/components/page/checkout/TopBarCheckout.scss';
</style>
