<template>
    <div class="top-bar-checkout">
        <top-bar 
            :label="label" 
            :left_icon="backIcon">
        </top-bar>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    export default {
        props: ['custom_label'],
        components: {
            'top-bar': TopBar,
        },
        data() {
            return {
                label: this.custom_label ? this.custom_label : "Chat Admin",
                backIcon: {
                    icon: "fas fa-arrow-left",
                    action: _ => {
                        window.history.back();
                    }
                }
            }
        },
        watch: { 
            custom_label: function(newVal, oldVal) {
                if (newVal) {
                    console.log("new label" + newVal);
                    this.label = newVal;
                }
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/checkout/TopBarCheckout.scss';
</style>
