<template>
    <div class="checkout">
        <div class="row checkout--header">
            <div class="col-md-6 col-sm-6 col-xs-6 checkout--header--col checkout--header--col-left">
                Barang
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkout--header--col checkout--header--col-right">
                Subtotal
            </div>
        </div>
        <div class="row checkout--main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <item-keranjang :is_fixed_qty="true" :barang="item" v-for="(item, index) in items" :key="index" />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form-checkout 
                    ref="formCheckout"
                    v-model="formdata" 
                    :cart="items" />
            </div>
        </div>
        <div class="row checkout--footer">
            <hm-button @click="gotoMetodePembayaran" :label="checkout_button.label" :button_class="checkout_button.class" />
        </div>
    </div>
</template>

<script>
    import ItemKeranjang from './../keranjang/ItemKeranjang.vue';
    import HMButton from './../../layout/HMButton.vue';
    import FormCheckout from './FormCheckout.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import Swal from 'sweetalert2';
    export default {
        components: {
            'item-keranjang': ItemKeranjang,
            'hm-button': HMButton,
            'form-checkout': FormCheckout
        },
        computed: {
            items() {
                return store.keranjang();
            }
        },
        data() {
            return {
                checkout_button: {
                    label: "Lanjutkan (Metode Pembayaran)",
                    class: 'dark'
                },
                formdata: null
            }
        },
        methods: {
            requestData() {
                return {
                    ...this.formdata.data_pembeli,
                    ...this.formdata.data_pengiriman,
                    ...this.formdata.donasi,
                    items: this.items.map(item => ({
                        id: item.data.id,
                        qty:item.qty
                    }))
                }
            },
            gotoMetodePembayaran() {
                if(this.$refs.formCheckout.validate()) {
                    alert("Data mandatori wajib diisi");
                    return;
                }

                Swal.fire({
                    title: 'Pastikan data Anda sudah benar',
                    showCancelButton: true,
                    confirmButtonText: 'Lanjut',
                    showLoaderOnConfirm: true,
                    preConfirm: (login) => {
                        return rest.default.ajukanPemesanan(this.requestData())
                            .then(res => res)
                            .catch(err => {
                                throw new Error(err)
                            })
                        .then(res => res)
                        .catch(error => Swal.showValidationMessage(`Request failed: ${error}`))
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((res) => {
                    console.log(res);
                    if (res.value) {
                        store.tambahPemesanan(res.value);
                        document.location.href = `/pemesanan/${res.value.id}`;
                    } else {
                        Swal.showValidationMessage(`Error`);
                    }
                }).catch(err => {
                    Swal.showValidationMessage(`Error`);
                })
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/checkout/Checkout.scss';
</style>
