<template>
    <div class="form-checkout">
        <div class="form-checkout--form">
            <div class="form-checkout--form--head">
                Data Pembeli *
            </div>
            <div class="form-checkout--form--body">
                <hm-input 
                    ref="inputNama"
                    :required="true"
                    :value="data_pembeli.nama_pembeli" 
                    v-model="data_pembeli.nama_pembeli" 
                    @input="updateModel" 
                    :hint="`Nama`" />
                <hm-input 
                    ref="inputEmail"
                    :required="true"
                    :value="data_pembeli.email" 
                    v-model="data_pembeli.email" 
                    @input="updateModel" 
                    :hint="`Email`" />
                <hm-input 
                    ref="inputNoHP"
                    :required="true"
                    :value="data_pembeli.nomor_hp" 
                    v-model="data_pembeli.nomor_hp" 
                    @input="updateModel" 
                    :hint="`Nomor Handphone`" />
            </div>
        </div>
        <div class="form-checkout--form">
            <div class="form-checkout--form--head">
                Pengiriman *
            </div>
            <div class="form-checkout--form--body">
                <hm-dropdown 
                    ref="inputJasaPengiriman"
                    :required="true"
                    :options="jasa_pengiriman"
                    v-model="data_pengiriman.jasa_pengiriman" 
                    @input="updateModel" 
                    :hint="`Pilih Jasa Pengiriman`" />
                <hm-textarea 
                    ref="inputAlamat"
                    :required="true"
                    v-model="data_pengiriman.alamat_pengiriman"
                    :value="data_pengiriman.alamat_pengiriman"
                    @input="updateModel" 
                    :hint="`Alamat Pengiriman`" />
                <hm-textarea 
                    v-model="data_pengiriman.catatan_pengiriman" 
                    @input="updateModel" 
                    :hint="`Catatan Pengiriman (Opsional)`" />
            </div>
        </div>
        <div class="form-checkout--form">
            <div class="form-checkout--form--head">
                Donasi
            </div>
            <div class="form-checkout--form--body">
                <hm-dropdown 
                    :options="target_donasi"
                    v-model="donasi.target_donasi" 
                    @input="updateModel" 
                    :hint="`Pilih Target Donasi`" />
                <hm-input
                    :type="`number`"
                    v-model="donasi.nominal_donasi" 
                    @input="updateModel" 
                    :hint="`Masukkan Jumlah Donasi`" />
            </div>
        </div>
        <div class="form-checkout--form">
            <div class="form-checkout--form--head">
                Total Belanja
            </div>
            <div class="form-checkout--form--body total-belanja">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        Subtotal
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        {{formatRp(subtotal)}}
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        Biaya Kirim
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        {{formatRp(0)}}
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        Donasi
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        {{formatRp(donasi.nominal_donasi ? donasi.nominal_donasi : 0)}}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 total">
                        Total
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 total">
                        {{formatRp(
                            subtotal +
                            (donasi.nominal_donasi ? donasi.nominal_donasi : 0)
                        )}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HMInput from './../../layout/HMInput.vue';
    import HMTextarea from './../../layout/HMTextarea.vue';
    import HMDropdown from './../../layout/HMDropdown.vue';
    import * as utils from './../../../utils.js';
    import * as rest from './../../../rest.js';
    import * as store from './../../../store.js';
    export default {
        components: {
            'hm-input': HMInput,
            'hm-textarea': HMTextarea,
            'hm-dropdown': HMDropdown
        },
        props: ['cart'],
        computed: {
            profil_data() {
                return store.getCredential();
            },
            subtotal() {
                return this.cart.reduce(
                    (acc, curr) => acc + curr.qty * curr.data.harga, 
                    0
                );
            }
        },
        data() {
            return {
                data_pembeli: {}, 
                data_pengiriman: {},
                donasi: {},
                jasa_pengiriman: [],
                target_donasi: []
            }
        },
        methods: {
            formatRp: utils.format_money,
            updateModel() {
                this.$emit('input', {
                    data_pembeli: this.data_pembeli,
                    data_pengiriman: this.data_pengiriman,
                    donasi: this.donasi
                });
            },
            validate() {
                const all = [
                    this.$refs.inputNama.validate(),
                    this.$refs.inputEmail.validate(),
                    this.$refs.inputNoHP.validate(),
                    this.$refs.inputJasaPengiriman.validate(),
                    this.$refs.inputAlamat.validate()
                ];

                return all.reduce((a, c) => a || c, false);
            }
        },
        mounted() {

            if (this.profil_data) {
                this.data_pembeli.nama_pembeli = this.profil_data.nama;
                this.data_pembeli.email = this.profil_data.email;
                this.data_pembeli.nomor_hp = this.profil_data.no_hp;
                this.data_pengiriman.alamat_pengiriman = this.profil_data.alamat;
            }

            rest.default.daftarJasaPengiriman()
                .then(jasa_pengiriman => {
                    this.jasa_pengiriman = jasa_pengiriman.map(x => ({
                        value: x.id,
                        label: x.nama
                    }));
                })
                .catch(err    => alert(err));

            rest.default.daftarPartnerDonasi()
                .then(jasa_pengiriman => {
                    this.target_donasi = jasa_pengiriman.map(x => ({
                        value: x.id,
                        label: x.nama
                    }));
                })
                .catch(err    => alert(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/checkout/FormCheckout.scss';
</style>
