<template>
    <div class="hm-button" @click="buttonClick">
        <div :class="this.class">
            {{label}}
        </div>
    </div>
</template>

<script>
    export default {
        props: ['label', 'button_class'],
        data() {
            return {
                class: this.button_class ? this.button_class : 'light'
            }
        },
        methods: {
            buttonClick() {
                this.$emit('click', null);
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/HMButton.scss'
</style>
