<template>
    <div class="hm-dropdown">
        <select
            @click="is_error = false"
            @focus="is_error = false"
            @input="$emit('input', $event.target.value)"
            :class="required && is_error ? 'error' : ''"
            ref="hmselect">
            <option :value="``" disabled selected>
                {{hint}}
            </option>
            <option 
                :value="drop_data.value" 
                v-for="(drop_data, i) in options" 
                :key="i">
                {{drop_data.label}}
            </option>
        </select>
        <div class="error-label" v-if="required && is_error">
            wajib diisi
        </div>
    </div>
</template>

<script>
    export default {
        props: ['hint', 'model', 'options', 'required'],
        data() {
            return {
                is_error: false
            }
        },
        methods: {
            validate() {
                const isEmpty = !this.$refs.hmselect.value;
                this.is_error = isEmpty;

                return this.is_error;
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/HMDropdown.scss'
</style>
