<template>
    <div class="hm-input">
        <input 
            :type="type ? type : `text`" 
            ref="hminput" 
            :value="model" 
            :placeholder="hint"
            :class="required && is_error ? 'error' : ''"
            @click="is_error = false"
            @focus="is_error = false"
            @input="$emit('input', type === 'number' ? parseFloat(
                $event.target.value
                ? $event.target.value
                : 0
            ) : $event.target.value)"  />
        <div class="error-label" v-if="required && is_error">
            wajib diisi
        </div>
    </div>
</template>

<script>
    export default {
        props: ['hint', 'model', 'type', 'required', 'value'],
        data() {
            return {
                is_error: false
            }
        },
        methods: {
            validate() {
                const isEmpty = !this.$refs.hminput.value;
                this.is_error = isEmpty;

                return this.is_error;
            }
        },
        mounted() {
            // this.validate();
        },
        watch: { 
            value: function(newVal, oldVal) {
                if (newVal) {
                    this.$refs.hminput.value = newVal;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/HMInput.scss'
</style>
