<template>
    <div class="hm-input">
        <textarea
            rows="3" 
            type="text" 
            ref="hminput" 
            :value="model"
            @click="is_error = false" 
            @focus="is_error = false"
            :placeholder="hint"
            :class="required && is_error ? 'error' : ''"
            @input="$emit('input', $event.target.value)" />
        <div class="error-label" v-if="required && is_error">
            wajib diisi
        </div>
    </div>
</template>

<script>
    export default {
        props: ['hint', 'model', 'required', 'value'],
        data() {
            return {
                is_error: false
            }
        },
        methods: {
            validate() {
                const isEmpty = !this.$refs.hminput.value;
                this.is_error = isEmpty;
                
                return this.is_error;
            }
        },
        mounted() {
        },
        watch: { 
            value: function(newVal, oldVal) {
                if (newVal) {
                    this.$refs.hminput.value = newVal;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/HMInput.scss'
</style>
