<template>
    <div class="promo">
        <div class="row promo--row">
            <div class="col-sm-12 col-xs-12 promo--row--col">
                <img :src="require('./../../../images/wrist-watches.png')" />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                //
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/Promo.scss'
</style>
