<template>
    <div class="top-bar">
        <div class="top-bar--fake">
        </div>
        <div class="row top-bar--row">
            <div class="col-sm-7 col-xs-7 top-bar--row--col top-bar--row--col-left">
                <i :class="left_icon.icon" @click="left_icon.action" />
                <div class="label" v-if="!is_search">
                    {{label}}
                </div>
                <div class="search" v-if="is_search">
                    <input :value="input_value" type="text" @input="onSearchInputChange" placeholder="Cari Produk..." />
                </div>
            </div>
            <div class="col-sm-5 col-xs-5 top-bar--row--col top-bar--row--col-right">
                <div v-for="(icon, index) in right_icons" :key="index">
                    <div>
                        <i :class="icon.icon" @click="icon.action" />
                    </div>
                    <div class="xtitle">
                        {{ icon.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['left_icon', 'label', 'right_icons', 'is_search', 'input_value'],
        data() {
            return {
                //
            }
        },
        mounted() {
            //
        },
        methods: {
            onSearchInputChange(e) {
                this.$emit('onSearchInputChange', e);
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../sass/components/layout/TopBar.scss'
</style>
