<template>
    <div class="filter-pencarian theme-light">
        <div class="filter-pencarian--floating">
            <i class="fas fa-filter"/> <span>Filter Hasil Pencarian</span>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/pencarian/FilterPencarian.scss';
</style>
