<template>
    <div class="hasil-pencarian theme-light">
        <div class="hasil-pencarian--main">
            <div class="row">
                <produk :data="data" v-for="(data, index) in dataPencarian" :key="index" />
            </div>
        </div>
    </div>
</template>

<script>
    import Produk from './../dashboard/section/Produk.vue';
    export default {
        components: {
            'produk': Produk
        },
        props: ['dataPencarian'],
        data() {
            return {
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/section/GeneralCategory.scss';
    @import '../../../../sass/components/page/pencarian/HasilPencarian.scss';
</style>
