<template>
    <div class="pencarian">
        <filter-pencarian />
        <hasil-pencarian :dataPencarian="products" />
        <div class="row" v-if="products.length === 0">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 14px;">
                Tidak ada hasil pencarian "{{q}}"
            </div>
        </div>
        <div>
            <div class="col-xs-3 col-sm-3 col-md-3"> </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <!-- <hm-button label="Muat Lebih Banyak" button_class="light" />
                <br/> -->
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3"> </div>
        </div>
    </div>
</template>

<script>
    import HasilPencarian from './HasilPencarian.vue';
    import FilterPencarian from './FilterPencarian.vue';
    import HMButton from './../../layout/HMButton.vue';
    import * as rest from './../../../rest.js';
    export default {
        components: {
            'hasil-pencarian': HasilPencarian,
            'filter-pencarian': FilterPencarian,
            'hm-button': HMButton
        },
        computed: {
            q() {
                let params = (new URL(document.location)).searchParams;
                return params.get("q");
            }
        },
        data() {
            return {
                products: [null]
            }
        },
        mounted() {
            let params = (new URL(document.location)).searchParams;
            rest.default.produkAll(params.get("q"))
                .then(produk => {
                    console.log("aaa", produk);
                    this.products = produk
                })
                .catch(err    => alert(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/section/GeneralCategory.scss';
    @import '../../../../sass/components/page/pencarian/HasilPencarian.scss';
</style>
