<template>
    <div class="top-bar-pencarian">
        <top-bar 
            :left_icon="burgerIcon" 
            :right_icons="rightIcons" 
            :label="`'${label}'`">
        </top-bar>
        <div class="top-bar-dashboard--menu" v-if="is_menu_bar_show">
            <menu-bar @backAction="hideMenuBar"></menu-bar>
        </div>
        <div class="top-bar-dashboard--search" v-if="is_search_bar_show">
            <search-bar :input_value="label" @backAction="hideSearchBar"></search-bar>
        </div>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    import MenuBar from './../dashboard/MenuBar.vue';
    import SearchBar from './../dashboard/SearchBar.vue';
    export default {
        components: {
            'top-bar': TopBar,
            'menu-bar': MenuBar,
            'search-bar': SearchBar
        },
        computed: {
            label() {
                let params = (new URL(document.location)).searchParams;
                return params.get("q");
            }
        },
        methods: {
            hideMenuBar() {
                this.is_menu_bar_show = false;
            },
            hideSearchBar() {
                this.is_search_bar_show = false;
            },
        },
        data() {
            return {
                is_menu_bar_show: false,
                is_search_bar_show: false,
                burgerIcon: {
                    icon: "fas fa-bars",
                    action: _ => {
                        this.is_menu_bar_show = true;
                    }
                },
                rightIcons: [{
                    icon: "fas fa-search",
                    action: _ => {
                        this.is_search_bar_show = true;
                    }
                },{
                    icon: "fas fa-user-circle",
                    action: _ => {}
                },{
                    icon: "fas fa-shopping-cart",
                    action: _ => {
                        document.location.href = '/keranjang';
                    }
                }]
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/pencarian/TopBarPencarian.scss';
</style>
