<template>
    <div class="daftar-chat">
        <div @click="gotoChatRoom(_channel.members)" v-for="(_channel, index) in allChannel" :key="index">
            <div class="daftar-chat--unread-count" v-if="_channel.unreadMessageCount > 0">
                {{_channel.unreadMessageCount}}
            </div>
            <div class="daftar-chat--title">
                {{_channel.name}}
            </div>
            <div class="daftar-chat--description" v-if="_channel.lastMessage != null">
                {{_channel.lastMessage.message}} - <i>{{convertTime(_channel.lastMessage.createdAt)}}</i>
            </div>
        </div>
    </div>
</template>

<script>
    import SendBird from 'sendbird';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import * as utils from './../../../utils.js';
    export default {
        computed: {
            profil_data() {
                return store.getCredential();
            }
        },
        data() {
            return {
                app_id: "F1F741C4-D9A5-468C-BEC7-049291D80E0F",
                sb: null,
                allChannel: null,
                unique_channel_handler: Date.now()
            }
        },
        methods: {
            convertTime(x) {
                return utils.timeConverter(x);
            },
            gotoAuth() {
                document.location.href = `/autentikasi`;
            },
            gotoChatRoom(members) {
                let index = members[0].userId == `user-${this.profil_data.id}` ? 1 : 0;
                let chatUserId = members[index].userId.split("-")[1];
                document.location.href = `/chat/${chatUserId}`;
            },
            getAllMyChannel(afterChannelOK) {
                var channelListQuery = this.sb.GroupChannel.createMyGroupChannelListQuery();
                channelListQuery.includeEmpty = true;
                channelListQuery.limit = 100;

                if (channelListQuery.hasNext) {
                    channelListQuery.next((channelList, error) => {
                        if (error) {
                            return;
                        }

                        console.log("channel list: ", channelList);
                        if (channelList.length == 0) {
                            if (this.profil_data.id == 0) {
                                console.log("admin priviledges");
                                this.chatList = [];
                                return;
                            }
                            this.createNewChannel(g => {
                                this.allChannel = [g];
                            })
                        } else {
                            this.allChannel = channelList;
                        }
                    });
                } else {
                    console.log("no channel")
                }
            },
            createNewChannel(cb) {
                var userIds = [`user-${this.profil_data.id}`, 'user-0'];
                this.sb.GroupChannel.createChannelWithUserIds(userIds, false, `Admin Chat - ${this.profil_data.nama} / ${this.profil_data.id}`, null, null, (groupChannel, error) => {
                    if (error) {
                        console.log(error);
                        return;
                    }

                    cb(groupChannel);
                });
            },
        },
        mounted() {
            if (!this.profil_data) {
                this.gotoAuth();
                return;
            }

            this.sb = new SendBird({
                appId: this.app_id
            })
            this.sb.connect(`user-${this.profil_data.id}`, (user, error) => {
                if (error) {
                    return;
                }

                this.getAllMyChannel();
            });
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/daftar-chat/DaftarChat.scss';
</style>
