@import "./../../../variables";

.active {
    background: #FFFFFF;
}
.inactive {
    background: #BFBFBF;
}
.detail-produk {

    margin-bottom: 1.2em + 2 * 1.2em + 1.2em;
    // 
    &--main {
        &--image-video {
            // 
            &--header {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                color: $primary-color;
                // 
            }
            &--header-row {
                // 
            }
            &--header-col {
                // 
                &--item {
                    padding: 8px;

                }
            }
            &--data {
                // 
                &--video {
                    width: 100%;
                    height: 250px;
                }
                &--image {
                    > img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }
            }
        }
        &--head-data {
            padding: 14px;
            font-family: Arial;
            &--title {
                font-size: 1em;
                font-weight: bold;
            }
            &--price {
                color: $primary-color;
                font-weight: bold;
            }
            &--stock {
                // 
            }
        }
        &--deskripsi {
            font-family: Arial;
            padding: 0 14px 14px 14px;
            &--head {
                font-weight: bold;
            }
            &--body {
                // 
            }
        }
    }
    &--floating-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 14px;
        background: #FFFFFF;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
    }
}