@import "./../../../variables";

.filter-pencarian {
    margin-bottom: 1.2em + 2 * 1.2em + 1.2em;
    &--floating {
        color: $primary-color;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        padding: 14px;
        position: fixed;
        top: 1.2em + 2 * 1.2em;
        width: 100%;
        z-index: 1;
        background: #FFFFFF;
        > span {
            margin-left: 4px;
        }
    }
}