<template>
    <div class="detail-pemesanan">
        <!-- <item-keranjang /> -->
        <div v-if="pemesanan !== null">
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Nomor Pemesanan
                </div>
                <div class="detail-pemesanan--section--kode-pemesanan">
                    {{pemesanan.kode}}
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Total Bayar
                </div>
                <div class="detail-pemesanan--section--harga">
                    {{formatRp(this.totalHarga())}}
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Status Pemesanan
                </div>
                <div>
                    {{pemesanan.status.nama}}
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Pembayaran
                </div>
                <div style="margin-top: 6px">
                    <hm-button 
                        @click="gotoPembayaran" 
                        :label="`Pilih Metode Pembayaran`" 
                        :button_class="`dark`" />
                </div>
            </div>
            <hr/>
            <div class="detail-pemesanan--section">
                <div class="row detail-pemesanan--section--header">
                    <div class="col-md-6 col-sm-6 col-xs-6 detail-pemesanan--section--header--col detail-pemesanan--section--header--col-left">
                        Barang
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 detail-pemesanan--section--header--col detail-pemesanan--section--header--col-right">
                        Subtotal
                    </div>
                </div>
                <div class="row detail-pemesanan--section--main">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <item-keranjang :is_fixed_qty="true" :barang="{data: item, qty: item.qty}" v-for="(item, index) in pemesanan.items" :key="index" />
                    </div>
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Data Pembeli
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Nama
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.nama_pembeli}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Email
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Nomor HP
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.nomor_hp}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Pengiriman
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Jasa Pengiriman
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.jasa_pengiriman.nama}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Alamat Pengiriman
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.alamat_pengiriman}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Catatan
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.catatan_pengiriman}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-pemesanan--section">
                <div class="detail-pemesanan--section--title">
                    Donasi
                </div>
                <div v-if="!pemesanan.target_donasi">
                    Tidak ada
                </div>
                <div v-if="pemesanan.target_donasi">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Target Donasi
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{pemesanan.target_donasi.nama}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Nominal
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            {{formatRp(pemesanan.nominal_donasi)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="error !== null">
            {{error}}
        </div>
    </div>
</template>

<script>
    import ItemKeranjang from './../keranjang/ItemKeranjang.vue';
    import HMButton from './../../layout/HMButton.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import * as utils from './../../../utils.js';
    export default {
        components: {
            'item-keranjang': ItemKeranjang,
            'hm-button': HMButton
        },
        data() {
            return {
                pemesanan: null,
                error: null
            }
        },
        methods: {
            formatRp: utils.format_money,
            totalHarga() {
                return (this.pemesanan.items ? this.pemesanan.items.reduce((acc, item) => acc + item.harga * item.qty, 0) : 0) 
                    + (this.pemesanan.nominal_donasi ? this.pemesanan.nominal_donasi : 0)
            },
            gotoPembayaran() {
                document.location.href = `${(new URL(document.location)).pathname}/metode-pembayaran`;
            }
        },
        mounted() {
            let pathname = (new URL(document.location)).pathname;
            const id = pathname.substr(pathname.lastIndexOf('/') + 1);
            rest.default.pemesananDetail(id)
                .then   (pemesanan => this.pemesanan = pemesanan)
                .catch  (err    => this.error = err);
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/detail-pemesanan/DetailPemesanan.scss';
</style>
