footer {
    font-family: Montserrat;
    font-size: .9em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    padding: 14px;
    border-top: solid 1px rgba(8, 65, 92, .5);
}