<template>
    <div class="item-pemesanan" @click="gotoDetailPemesanan">
        <div class="item-pemesanan--section item-pemesanan--section-right">
            <div class="item-pemesanan--section--status item-pemesanan--section--status-belum-lunas" v-if="pemesanan.status_pemesanan == 1">
                {{pemesanan.status.nama}}
            </div>
            <div class="item-pemesanan--section--status item-pemesanan--section--status-lunas" v-if="pemesanan.status_pemesanan != 1 && pemesanan.status_pemesanan !=99">
                {{pemesanan.status.nama}}
            </div>
            <div class="item-pemesanan--section--status item-pemesanan--section--status-dibatalkan" v-if="pemesanan.status_pemesanan == 99">
                {{pemesanan.status.nama}}
            </div>
            <div class="item-pemesanan--section--lihat-detail">
                Lihat Detail
            </div>
        </div>
        <div class="item-pemesanan--section item-pemesanan--section-left">
            <div class="item-pemesanan--section--kode-pemesanan">
                {{pemesanan.kode}}
            </div>
            <div class="item-pemesanan--section--harga">
                {{formatRp(this.totalHarga())}}
            </div>
            <div class="item-pemesanan--section--timestamp">
                {{pemesanan.created_at}}
            </div>
        </div>
    </div>
</template>

<script>
    import * as utils from './../../../utils.js';
    import * as store from './../../../store.js';
    export default {
        props: ['pemesanan'],
        data() {
            return {
            }
        },
        methods: {
            formatRp: utils.format_money,
            gotoDetailPemesanan() {
                document.location.href = `/pemesanan/${this.pemesanan.id}`;
            },
            totalHarga() {
                return (this.pemesanan.items ? this.pemesanan.items.reduce((acc, item) => acc + item.harga * item.qty, 0) : 0) 
                    + (this.pemesanan.nominal_donasi ? this.pemesanan.nominal_donasi : 0)
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../sass/components/page/pemesanan/ItemPemesanan.scss';
</style>
