<template>
    <div class="pemesanan">
        <div v-if="items.length === 0" style="padding: 14px">
            <div>
                Belum ada pemesanan.
            </div>
            <div>
                <a href="/">Ayo berbelanja!</a>
            </div>
        </div>
        <div v-if="items.length > 0">
            <item-pemesanan v-for="(pemesanan, i) in items" :pemesanan="pemesanan" :key="i" />
        </div>
    </div>
</template>

<script>
    import ItemPemesanan from './ItemPemesanan.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    export default {
        components: {
            'item-pemesanan': ItemPemesanan
        },
        data() {
            return {
                items: []
            }
        },
        methods: {
        },
        mounted() {
            rest.default.semuaPemesanan()
                .then(res => {
                    this.items = res;
                    console.log(res);
                })
                .catch(err => console.error(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/pemesanan/Pemesanan.scss';
</style>
