<template>
    <div class="item-metode-pembayaran">
        <div class="item-metode-pembayaran--section">
            <div class="item-metode-pembayaran--section--image">
                <div :class="data.class_name" />
            </div>
            <div class="item-metode-pembayaran--section--label">
                {{data.nama}}
            </div>
        </div>
        <div class="item-metode-pembayaran--deskripsi">
            {{data.deskripsi}}
        </div>
    </div>
</template>

<script>
    import * as utils from './../../../utils.js';
    export default {
        components: {
        },
        props: ['data'],
        data() {
            return {
            }
        },
        methods: {
            formatRp: utils.format_money,
        },
        mounted() {

        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../sass/components/page/metode-pembayaran/ItemMetodePembayaran.scss';
</style>
