<template>
    <div class="metode-pembayaran">
        <div v-if="pemesanan !== null">
            <div class="metode-pembayaran--section">
                <div class="metode-pembayaran--section--title">
                    Nomor Pemesanan
                </div>
                <div class="metode-pembayaran--section--kode-pemesanan">
                    {{pemesanan.kode}}
                </div>
            </div>
            <div class="metode-pembayaran--section">
                <div class="metode-pembayaran--section--title">
                    Total Bayar
                </div>
                <div class="metode-pembayaran--section--harga">
                    {{formatRp(this.totalHarga())}}
                </div>
            </div>
            <div class="metode-pembayaran--section">
                <div class="metode-pembayaran--section--title">
                    Pilih Metode Pembayaran
                </div>
                <div class="metode-pembayaran--section--metode">
                    <item-metode-pembayaran :data="metodep" v-for="(metodep, i) in metode_pembayaran" :key="i" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ItemMetodePembayaran from './ItemMetodePembayaran.vue';
    import * as rest from './../../../rest.js';
    import * as utils from './../../../utils.js';
    export default {
        components: {
            'item-metode-pembayaran': ItemMetodePembayaran
        },
        props: ['pemesanan_id'],
        data() {
            return {
                pemesanan: null,
                metode_pembayaran: []
            }
        },
        methods: {
            formatRp: utils.format_money,
            totalHarga() {
                return (this.pemesanan.items ? this.pemesanan.items.reduce((acc, item) => acc + item.harga * item.qty, 0) : 0) 
                    + (this.pemesanan.nominal_donasi ? this.pemesanan.nominal_donasi : 0)
            },
        },
        mounted() {
            rest.default.pemesananDetail(this.pemesanan_id)
                .then(pemesanan => this.pemesanan = pemesanan)
                .catch(err => console.error(err));
            rest.default.daftarMetodePembayaran()
                .then(daftar => this.metode_pembayaran = daftar)
                .catch(err => console.error(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/metode-pembayaran/MetodePembayaran.scss';
</style>
