<template>
    <div class="add-reduce">
        <div class="add-reduce--no-count add-reduce-button" v-if="is_with_beli" @click="buy">
            Beli
        </div>
        <div class="add-reduce--with-count" v-if="count > 0">
            <div class="add-reduce--button add-reduce--button-right add-reduce-button" @click="increase">+</div>
            <div class="add-reduce--button add-reduce--button-left add-reduce-button" @click="decrease">-</div>
            <div class="add-reduce--counter add-reduce-counter">{{this.count}}</div>
        </div>
        <div class="add-reduce--no-count add-reduce-button" v-if="count === 0" @click="increase">
            Tambah ke Troli
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: ['init_count', 'is_with_beli', 'stok'],
        data() {
            return {
                count: this.init_count ? this.init_count : 0
            }
        },
        methods: {
            buy(e) {
                this.$emit('buy', null);
            },
            increase(e) {
                if (this.count < this.stok) {
                    this.count++;
                    this.$emit('increase', this.count);
                }
            },
            decrease(e) {
                this.count--;
                this.$emit('decrease', this.count);
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/GeneralCategory.scss';
    @import '../../../../../sass/components/page/dashboard/section/AddReduce.scss';
</style>
