<template>
    <div class="dashboard-section-category theme-light">
        <title-section :left_label="title" />
        <div class="dashboard-section-category--main">
            <div>
                <div class="fake-10"></div>
                <item-category :icon="cat.icon" :label="cat.label" v-for="(cat, index) in categories" :key="index" />
                <div class="fake-10"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import TitleSection from './TitleSection.vue';
    import ItemCategory from './ItemCategory.vue';
    export default {
        components: {
            'title-section': TitleSection,
            'item-category': ItemCategory
        },
        data() {
            return {
                title: "Kategori",
                categories: [{
                    icon: "fas fa-feather-alt",
                    label: "Lorem",
                    icon_color: "#f44336"
                }, {
                    icon: "fas fa-spray-can",
                    label: "Ipsum",
                    icon_color: "#009688"
                }, {
                    icon: "fas fa-mortar-pestle",
                    label: "Dolor",
                    icon_color: "#ff9800"
                }, {
                    icon: "fas fa-suitcase-rolling",
                    label: "Sit",
                    icon_color: "#607d8b"
                }, {
                    icon: "fas fa-plane",
                    label: "Amet Consectetur",
                    icon_color: "#673ab7"
                }, {
                    icon: "fas fa-feather-alt",
                    label: "Lorem",
                    icon_color: "#f44336"
                }, {
                    icon: "fas fa-spray-can",
                    label: "Ipsum",
                    icon_color: "#009688"
                }, {
                    icon: "fas fa-mortar-pestle",
                    label: "Dolor",
                    icon_color: "#ff9800"
                }, {
                    icon: "fas fa-suitcase-rolling",
                    label: "Sit",
                    icon_color: "#607d8b"
                }, {
                    icon: "fas fa-plane",
                    label: "Amet Consectetur",
                    icon_color: "#673ab7"
                }]
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/GeneralCategory.scss';
    @import '../../../../../sass/components/page/dashboard/section/CategorySection.scss';
</style>
