<template>
    <div class="item-category">
        <div class="item-category--box">
            <i :class="icon" :style="`color: ${icon_color}`" />
        </div>
        <div class="item-category--label">
            {{label}}
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: ['icon', 'label', 'icon_color'],
        data() {
            return {
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/ItemCategory.scss';
</style>
