<template>
    <div class="produk col-md-4 col-sm-4 col-xs-4" v-if="data != null">
        <div @click="gotoDetail">
            <div class="produk--image">
                <img :src="data.img_url" />
            </div>
            <div class="produk--title">
                {{data.nama}}
            </div>
            <div class="produk--price">
                {{formatRp(data.harga)}}
            </div>
            <div class="produk--stock">
                Sisa Stok {{data.stok}}
            </div>
            <div class="produk--stock">
                Terjual {{data.terjual}}
            </div>
        </div>
        <div class="produk--tambah-ke-keranjang">
            <add-reduce :init_count="initCount" :stok="data.stok" :is_with_beli="true" @buy="buy" @increase="increase" @decrease="decrease" />
        </div>
    </div>
</template>

<script>
    import * as utils from './../../../../utils.js';
    import * as store from './../../../../store.js';
    import AddReduce from './AddReduce.vue';
    export default {
        components: {
            'add-reduce': AddReduce
        },
        props: ['data'],
        data() {
            return {
                init_count: 0
            }
        },
        computed: {
            initCount() {
                const barangKeranjang = store.ambilBarang(this.data);
                if (barangKeranjang) {
                    return barangKeranjang.qty
                }

                return 0;
            }
        },
        methods: {
            formatRp: utils.format_money,
            buy() {
                store.tambahBarangMinimal1(this.data);
                document.location.href = `/checkout`;
            },
            gotoDetail() {
                document.location.href = `/produk/${this.data.id}`;
            },
            increase(count) {
                store.tambahBarang(this.data);
            },
            decrease(count) {
                store.kurangBarang(this.data);
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/Produk.scss';
</style>
