<template>
    <div class="dashboard-section-produk-terlaris theme-light">
        <title-section :left_label="title" :right_label="action_right" />
        <div class="dashboard-section-produk-terlaris--main">
            <div class="row">
                <produk :data="data" v-for="(data, index) in products" :key="index" />
            </div>
        </div>
    </div>
</template>

<script>
    import TitleSection from './TitleSection.vue';
    import Produk from './Produk.vue';
    import * as rest from './../../../../rest.js';
    export default {
        components: {
            'title-section': TitleSection,
            'produk': Produk
        },
        data() {
            return {
                title: "Produk Terlaris",
                action_right: "Lihat Semua >",
                products: []
            }
        },
        mounted() {
            rest.default.produkTerlaris()
                .then   (produk => {
                    console.log("aaa2", produk);
                    this.products = produk
                })
                .catch  (err    => alert(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/GeneralCategory.scss';
    @import '../../../../../sass/components/page/dashboard/section/ProdukTerlarisSection.scss';
</style>
