<template>
    <div class="title-section">
        <div class="title-section--right">
            {{right_label}}
        </div>
        <div class="title-section--left">
            {{left_label}}
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: ['left_label', 'right_label'],
        data() {
            return {
                title: "Kategori"
            }
        },
        mounted() {
            //
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../../sass/components/page/dashboard/section/TitleSection.scss';
</style>
