@import "./../../../variables";

.checkout {
    padding: 14px;
    &--header {
        &--col {
            font-family: Arial;
            font-size: .9;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: $primary-color;
        }
        &--col-left {
            //
        }
        &--col-right {
            text-align: right;
        }
    }
    &--main {
        padding: 4px 0;
    }
    &--footer {
        margin-top: 8px;
    }
}