.form-checkout {
    &--form {
        margin-top: 16px;
        &--head {
            color: black;
            margin-bottom: 4px;
            font-family: Arial;
            font-weight: bold;
            font-size: .9em;
        }
        &--body {
            //
            > div {
                margin-bottom: 8px;
            } 
        }
    }
}
.total-belanja {
    font-size: .9em;
    font-family: Arial;
    .total{
        font-weight: bold;
    }
    hr {
        margin: 8px 0;
    }
}