<template>
    <div class="dashboard">
        <!-- <category-section /> -->
        <produk-terlaris-section />
        <produk-terbaru-section />
    </div>
</template>

<script>
    import CategorySection from './section/CategorySection.vue';
    import ProdukTerlarisSection from './section/ProdukTerlarisSection.vue';
    import ProdukTerbaruSection from './section/ProdukTerbaruSection.vue';
    export default {
        components: {
            'category-section': CategorySection,
            'produk-terlaris-section': ProdukTerlarisSection,
            'produk-terbaru-section': ProdukTerbaruSection
        },
        data() {
            return {
                //
            }
        },
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/Dashboard.scss';
</style>
