<template>
    <div class="top-bar-menu">
        <top-bar 
            :label="label" 
            :left_icon="backIcon">
        </top-bar>
        <div class="top-bar-menu--section" v-for="(menu_section, index) in sections" :key="index">
            <div class="top-bar-menu--section--head">
                {{menu_section.head}}
            </div>
            <div class="top-bar-menu--section--body">
                <ul>
                    <li v-for="(menu_body, index2) in menu_section.body" :key="index2">
                        <a :href="menu_body.link" v-if="!!menu_body.link">{{menu_body.label}}</a>
                        <span v-if="!menu_body.link">{{menu_body.label}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    export default {
        components: {
            'top-bar': TopBar,
        },
        computed: {
            profil_data() {
                return store.getCredential();
            },
            sections() {
                const banyakBarangDiKeranjang = store.keranjang().length;
                let sectionUmumBody = [{
                    label: "Beranda",
                    link: "/"
                }];

                let sectionAkunBody = [{
                    label: `Pemesanan (${this.banyakPemesanan})`,
                    link: "/pemesanan"
                }, {
                    label: `Keranjang (${banyakBarangDiKeranjang})`,
                    link: "/keranjang"
                }];

                if (!this.profil_data) {
                    sectionUmumBody.push({
                        label: "Masuk/Daftar",
                        link: "/autentikasi"
                    });
                } else {
                    sectionAkunBody.unshift({
                        label: "Chat",
                        link: "/chat"
                    });
                    sectionAkunBody.unshift({
                        label: "Profil",
                        link: "/profil"
                    });
                }

                return [{
                    head: "Umum",
                    body: sectionUmumBody
                }, {
                    head: "Akun",
                    body: sectionAkunBody
                }, {
                    head: "Produk",
                    body: [{
                        label: "Produk Terlaris"
                    }, {
                        label: "Barang Terbaru"
                    }, {
                        label: "Spesial Paket Murah Meriah"
                    }, {
                        label: "Kategori Anak"
                    }, {
                        label: "Promo Aneka Makanan Ringan"
                    }]
                }, {
                    head: "Lain-lain",
                    body: [{
                        label: "Ketentuan Pengguna"
                    }, {
                        label: "Kebijakan Privasi"
                    }, {
                        label: "Promo"
                    }, {
                        label: "Tentang"
                    }, {
                        label: "Kontak"
                    }]
                }];
            }
        },
        data() {
            return {
                banyakPemesanan: 0,
                label: "Menu",
                backIcon: {
                    icon: "fas fa-arrow-left",
                    action: _ => {
                        this.$emit('backAction', null);
                    }
                }
            }
        },
        mounted() {
            rest.default.semuaPemesananCount()
                .then(count => this.banyakPemesanan = count)
                .catch(err => console.error(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/MenuBar.scss';
</style>
