<template>
    <div class="top-bar-search">
        <top-bar 
            :left_icon="backIcon"
            :is_search="true"
            :right_icons="rightIcons"
            :input_value="input_value"
            @onSearchInputChange="onSearchInputChange">
        </top-bar>
        <div class="top-bar-search--section">
            
        </div>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    export default {
        components: {
            'top-bar': TopBar,
        },
        props: ['input_value'],
        data() {
            return {
                textSearch: '',
                rightIcons: [{
                    icon: "fas fa-search",
                    action: _ => {
                        document.location.href = `/pencarian?q=${this.textSearch}`;
                    }
                }],
                backIcon: {
                    icon: "fas fa-arrow-left",
                    action: _ => {
                        this.$emit('backAction', null);
                    }
                }
            }
        },
        mounted() {
            
        },
        methods: {
            onSearchInputChange(e) {
                this.textSearch = e.target.value;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/SearchBar.scss';
</style>
