<template>
    <div class="top-bar-dashboard">
        <top-bar 
            :label="title" 
            :left_icon="burgerIcon" 
            :right_icons="rightIcons" 
            :is_search="false">
        </top-bar>
        <div class="top-bar-dashboard--menu" v-if="is_menu_bar_show">
            <menu-bar @backAction="hideMenuBar"></menu-bar>
        </div>
        <div class="top-bar-dashboard--search" v-if="is_search_bar_show">
            <search-bar @backAction="hideSearchBar"></search-bar>
        </div>
    </div>
</template>

<script>
    import TopBar from './../../layout/TopBar.vue';
    import MenuBar from './MenuBar.vue';
    import * as store from './../../../store.js';
    import SearchBar from './SearchBar.vue';
    export default {
        components: {
            'top-bar': TopBar,
            'menu-bar': MenuBar,
            'search-bar': SearchBar
        },
        computed: {
            profil_data() {
                return store.getCredential();
            },
            rightIcons() {
                return [{
                    icon: "fas fa-search",
                    name: "Cari",
                    action: _ => {
                        this.is_search_bar_show = true;
                    }
                },{
                    icon: "fas fa-user-circle",
                    name: !this.profil_data ? "Masuk" : "Profil",
                    action: _ => {
                        document.location.href = '/profil';
                    }
                },{
                    icon: "fas fa-shopping-cart",
                    name: "Keranjang",
                    action: _ => {
                        document.location.href = '/keranjang';
                    }
                }]
            }
        },
        methods: {
            hideMenuBar() {
                this.is_menu_bar_show = false;
            },
            hideSearchBar() {
                this.is_search_bar_show = false;
            },
        },
        data() {
            return {
                is_menu_bar_show: false,
                is_search_bar_show: false,
                title: "Halal Market",
                burgerIcon: {
                    icon: "fas fa-bars",
                    action: _ => {
                        this.is_menu_bar_show = true;
                    }
                }
            }
        },
        mounted() {
            console.log(this.profil_data);
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/dashboard/TopBarDashboard.scss';
</style>
