<template>
    <div class="profil">
        <div v-if="!profil_data">
            Anda belum login
        </div>
        <div v-if="profil_data">
            <div class="profil--data">
                <div class="profil--data--key-value" v-for="(kv, index) in exposed_data" :key="index">
                    <div class="profil--data--key-value--key">
                        {{ kv.key }}
                    </div>
                    <div class="profil--data--key-value--value">
                        {{ kv.value }}
                    </div>
                </div>
            </div>
            <div class="profil--logout">
                <hm-button @click="logout" :label="`Keluar`" :button_class="`dark`" />
            </div>
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import * as store from './../../../store.js';
    import * as rest from './../../../rest.js';
    import Swal from 'sweetalert2';
    export default {
        components: {
            'hm-button': HMButton
        },
        data() {
            return {
                exposed_data: []
            }
        },
        computed: {
            profil_data() {
                return store.getCredential();
            }
        },
        methods: {
            gotoAuth() {
                document.location.href = `/autentikasi`;
            },
            logout() {
                store.saveCredential(null);
                document.location.href = `/`;
            },
            initExposedData() {
                this.exposed_data = [{
                    key: "Nama",
                    value: this.profil_data.nama
                }, {
                    key: "Email",
                    value: this.profil_data.email
                }, {
                    key: "Nomor HP",
                    value: this.profil_data.no_hp
                }, {
                    key: "Alamat",
                    value: this.profil_data.alamat
                }];
            }
        },
        mounted() {
            if (!this.profil_data) {
                this.gotoAuth();
                return;
            }

            this.initExposedData();
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../../../sass/components/page/profil/Profil.scss';
</style>
