.profil {
    margin: 14px;
    &--data {
        margin-bottom: 18px;
        &--key-value {
            &--key {
                font-size: .9em;
            }
            &--value {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 8px;
            }
        }
    }
}