.add-reduce {
    font-family: Arial;
    // min-width: 120px;
    &--no-count {
        width: 100%;
        text-align: center;
        padding: 4px;
        background: #e5e5e5;
        border-radius: 3px;
        font-size: .8em;
    }
    &--counter {
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        padding: 4px;
        background: #e5e5e5;
        border-radius: 3px;
    }
    &--button {
        width: 2em;
        text-align: center;
        padding: 4px;
        border-radius: 3px;
    }
    &--button-right {
        float: right;
    }
    &--button-left {
        float: left;
    }
}