.dashboard-section-category {
    &--main {
        > div {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            padding-bottom: 14px; 
            > * {
                display: inline-block;
            }
        }
        .fake-10 {
            width: 7px;
        }
    }
}