@import "./../../../../variables";

.theme-light {
    color: $primary-color;
    .add-reduce-button {
        margin-bottom: 5px;
        color: white;
        background-color: $primary-color;
    }
    .add-reduce-counter {
        color: $primary-color;
    }
}

.theme-dark {
    background: $primary-color;
    color: #ffffff;
    .add-reduce-button {
        margin-bottom: 5px;
        background-color: white;
    }
    .add-reduce-button, .add-reduce-counter {
        color: $primary-color;
    }
}