.item-category {
    &--box {
        padding: 16px;
        border-radius: 6px;
        border: solid 1px #707070;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
        > i {
            font-size: 3em;
        }
    }
    &--label {
        font-family: Montserrat;
        font-size: .7em;
        margin-top: 4px;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: center;
        color: #3b3b3b;
    }
}