.produk {
    font-family: Arial;
    padding: 0 4px;
    line-height: 1.2em;
    margin-bottom: 10px;
    &--image {
        width: 100%;
        height: 0;
        padding-top: 100%;
        object-fit: contain;
        background: #FFF;
        border-radius: 3px;
        margin-bottom: 4px;
        position: relative;
        > img {
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &--title {
        font-size: 1em;
    }
    &--price {
        font-weight: bold;
    }
    &--stock {
        font-size: .8em;
    }
    &--tambah-ke-keranjang {
        margin-top: 3px;
    }
}