.title-section {
    padding: 14px;
    &--left {
        font-family: Montserrat;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
    }
    &--right {
        float: right;
        font-family: Montserrat;
        font-size: .8em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        margin-top: .1em;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
    }
}