<template>
    <div class="detail-produk theme-light" v-if="barang != null">
        <div class="detail-produk--floating-bottom">
            <add-reduce :init_count="initCount" @increase="increase" @decrease="decrease" />
        </div>
        <div class="detail-produk--main">
            <div class="detail-produk--main--image-video">
                <div class="row detail-produk--main--image-video--header detail-produk--main--image-video--header-row">
                    <div 
                        class="col-xs-6 col-sm-6 col-md-6 detail-produk--main--image-video--header-col"
                        @click="is_video_show = false">
                        <div 
                            :class="`${!is_video_show ? 'active' : 'inactive'} detail-produk--main--image-video--header-col--item`">
                            Gambar
                        </div>
                    </div>
                    <div 
                        class="col-xs-6 col-sm-6 col-md-6 detail-produk--main--image-video--header-col"
                        @click="is_video_show = true">
                        <div
                            :class="`${is_video_show ? 'active' : 'inactive'} detail-produk--main--image-video--header-col--item`">
                            Video
                        </div>
                    </div>
                </div>
                <div class="row detail-produk--main--image-video--data">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="detail-produk--main--image-video--data--video" v-show="is_video_show">
                            <iframe width="100%" height="250" :src="barang.video_url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="detail-produk--main--image-video--data--image" v-show="!is_video_show">
                            <img :src="barang.img_url" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-produk--main--head-data">
                <div class="detail-produk--main--head-data--title">
                    {{barang.nama}}
                </div>
                <div class="detail-produk--main--head-data--price">
                    {{formatRp(barang.harga)}}
                </div>
                <div class="detail-produk--main--head-data--stock">
                    Stok {{barang.stok}}
                </div>
            </div>
            <div class="detail-produk--main--deskripsi">
                <div class="detail-produk--main--deskripsi--head">
                    Deskripsi
                </div>
                <div class="detail-produk--main--deskripsi--body">
                    {{barang.deskripsi}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HMButton from './../../layout/HMButton.vue';
    import * as utils from './../../../utils.js';
    import * as rest from './../../../rest.js';
    import * as store from './../../../store.js';
    import AddReduce from './../dashboard/section/AddReduce.vue';
    export default {
        components: {
            'hm-button': HMButton,
            'add-reduce': AddReduce
        },
        data() {
            return {
                is_video_show: false,
                barang: null,
                initCount: 0
            }
        },
        methods: {
            formatRp: utils.format_money,
            increase(count) {
                store.tambahBarang(this.barang);
            },
            decrease(count) {
                store.kurangBarang(this.barang);
            }
        },
        mounted() {
            let pathname = (new URL(document.location)).pathname;
            const id = pathname.substr(pathname.lastIndexOf('/') + 1)
            rest.default.produkDetail(id)
                .then   (produk => {
                    this.barang = produk;
                    const barangKeranjang = store.ambilBarang(this.barang);
                    this.initCount = barangKeranjang ? barangKeranjang.qty : 0;
                })
                .catch  (err    => alert(err));
        }
    }
</script>

<style lang="scss" scoped>
    @import './../../../../sass/components/page/detail-produk/DetailProduk.scss';
</style>
